html {
  height: 100%;

}

body{
  background-color: black;
}

.welcomebutton {
  width: 150px;
  height: 75px;
  border-radius: 25px;
  border: 3px solid white;
  color: white;
  background-color: black;
  display:block;
  margin:auto;
  font-size:22px;
  margin-top: 22.5%;
  margin-bottom: 22.5%;
  animation-delay: 2s;
  animation-duration: 2s;
  transition: 1s;
  
 
}

.welcomebutton:hover{
  transform: scale(1.5, 1.5);
   transition: 1s;
}

.welcomebutton:active{
  width: 150px;
  height: 75px;
  border-radius: 25px;
  border: 3px solid black;
  color: black;
  background-color: white;
  display:block;
  margin:auto;
  font-size:22px;
  margin-top: 22.5%;
  margin-bottom: 22.5%;
  transition: 0.2s;
}

.main {
  font-size: 50px;
  text-align: center;
  color: white;
  font-weight: 100;
}

.main1 {
  font-size: 28px;
  text-align: center;
  color: white;
  font-weight: 100;
  padding-left: 9%;
  padding-right: 9%;
}

.image1 {
  height:32%;
  width:32%;
  text-align: center;
}

.pic{
  display: flex;
}

.navbar {
  background-color: black;
  border: 2px solid white;
  color: white
}

.nav-item {
  color: white;
}

img {
  width: 100px;
  height: 100px;
}